*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: black;
    background: rgb(255, 255, 255);
}

a{
    font-weight: bold;
}

#header{
    width: 100%;
    height: 100vh; 
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    float: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    margin-left: 10%;
    font-size: 25px;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span{
    color: hsl(334, 100%, 63%);
    transition: transform 0.5s; /*zoom in speed*/
}

.header-text h1 span:hover{
    color: hsl(334, 100%, 63%);
    transform: scale(1.1); /*zoom in*/
}

/*---------------About---------------*/
#about{
    padding: 80px 0;
    color: black;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    transition: transform 0.5s; /*zoom in speed*/
}

.about-col-1 img:hover{
    width: 100%;
    border-radius: 15px;
    transform: scale(1.1); /*zoom in*/
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: hsl(334, 100%, 74%);
}

p1{
    font-size: 20px;
}

.download-btn{
    background-color: dodgerblue;
    color: white;
    padding: 1rem 2rem;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    flex-direction: row;
}

.download-btn:hover{
    background-color: royalblue;
}

/*---------------Projects---------------*/
#projects{
    padding: 50px 0;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s; /*zoom in speed*/
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(255, 255, 255, 0.6), hsl(205, 94%, 60%));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight:  bold;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: blue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.1); /*zoom in*/
}

.project:hover .layer{
    height: 100%;
}

/*See More Button*/
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: none;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: background 0.5s;
    background: hsl(334, 100%, 74%);
    font-weight: bold;
}

.btn:hover{
    background: rgb(234, 42, 106);
} 

/*---------------Contact---------------*/
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;

}

.contact-left p i{
    margin-right: 15px;
    font-size: 25px;
    color: black;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: black;
    display: inline-block;
    transition: transform 0.5s;
} 

.social-icons a:hover{
    color: royalblue;
    transform: translateY(-5px);
} 

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    border-radius: 6px;
    outline: none;
    background: rgb(238, 237, 237);
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
}

form .submitbtn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 25px;
    background: #f9c339;
    font-weight: 300;
    margin-top: 20px;
}

/*CSS for Small Screens*/
nav .fa-solid{
    display: none;  
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(./images/bg_smallscreen.jpg);
    }

    .header-text{
        margin-top: 20px;
        margin-bottom: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;  
    }

    nav ul{
        background: #f9c339;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

    #msg{
        font-size: 14px;
    }
}

#msg{
    color: rgb(234, 42, 106);
    display: block;
    text-align: center;
}